#a{border:2px solid;
   border-left:none}

   /*width:100px;display:flex;padding-top:30px}*/


  #x{border-right:none;text-decoration:none}

  #x:hover{box-shadow:0px 0px 10px cyan}
  #s:hover{box-shadow:0px 0px 10px cyan}

  #rrr{display:flex}